  html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(-135deg, #0a0a0a, #242424); 
    color: #ffffff;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 20px 60px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.2s ease;
  }
  
  nav ul li a:hover {
    color: #007BFF;
    transform: scale(1.1);
  }
  
  .contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    gap: 50px;
  }
  
  .text-content {
    flex: 1;
  }
  .banner{
    min-width: 600px;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    z-index: -1;
    filter: drop-shadow(-15px 10px 10px rgba(0,0,0,0.7));
  }
  
  .text-content h1 {
    background: linear-gradient(90deg, #5ac5f7, #fff495);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 800;
    color: #fff;
  }
  
  .text-content p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  
  .image-content {
    flex: 1;
    text-align: center;
  }
  
  .image-content img {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }
  .ContactBtn {
    position: relative;
    padding: 10px 22px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #515cf3;
    transition: all 0.2s ease;
  }
  .ContactBtn:hover{
    transform: scale(1.1);
  }
  
  .ContactBtn:active {
    transform: scale(0.96);
  }
  
  .ContactBtn:before,
  .ContactBtn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .ContactBtn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .ContactBtn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  .InfoBtn{
    background-color: #f2f2f2;
    color: #333;
    padding: 10px 22px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    margin-left: 20px;
    transition: all 0.2s ease;
  }
  .InfoBtn:hover{
    transform: scale(1.1);
  }
  .InfoBtn:active {
    transform: scale(0.96);
  }
  .InfoWindow{
    position: absolute;
    margin-top: 10px;
    padding: 0px 15px;
    width: 26vw;
    justify-content: space-between;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    display: none;
    text-align: center;
  }
  .InfoWindow p{
    text-align: center;
    color: #0a0a0a;
  }
  .SocialWindow{
    position: absolute;
    margin-top: 50px;
    padding: 10px 15px;
    background: #E7EEF3;
    border-radius: 8px;
    box-shadow: 4 4px 8px rgba(0,0,0,0.2);
    margin-right: 20px;
    display: none;
    text-align: center;
  }
  .SocialBtn{
    background: none;
    border: none;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-top: 3px;
    transition: all 0.2s ease;
  }
  .SocialBtn:hover {
    color:#007BFF;
  }
  i{
    color: #0a0a0a;
    font-size: 70px;
  }
  .InstagramLink{
    text-decoration: none;
  }
  #InstagramLogo{
    margin-right: 15px;
    transition: all 0.2s ease;
  }
  #InstagramLogo:hover{
    transform: scale(1.1);
    background:linear-gradient(45deg, #FDA249, #994b9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #WhatsappLogo{
    transition: all 0.2s ease;
  }
  #WhatsappLogo:hover{
    transform: scale(1.1);
    background:linear-gradient(90deg, #1e9b33, #57D163);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }